body{
	background-color: green;
}


#wrapper{
	width:750px;
  height:800px;
	margin:0 auto;
	background-color: white;
}

#header{
	height:70px;
	text-align:center;
	background-color:red;

}

#firstnav{
  float:left;
  width:250px;
	height: 70px;
	background-color: pink;
}

#secondnav{
  float:right;
  width:500px;
	height: 70px;
	background-color: orange;
}

#leftbody{
	width:750px;
	height: 700px;
	background-color: blue;

}

#bottom{
	height:50px;
	clear:both;
	background-color: yellow;


}
